version: "3.8"

services:
  backend:
    build: 
      context: ./backend
      target: production
    restart: unless-stopped
    env_file: ./.env
    ports:
      - 3001:3001
    volumes:
      - './backend/app.js:/webcrawler/backend/app.js'
      - './backend/src/:/webcrawler/backend/src/'
      - '/webcrawler/backend/node_modules/'
    environment:
      DB_HOST: mysql
      DB_USER: $DB_USER
      DB_PASSWORD: $DB_PASSWORD
      DB_NAME: $DB_DATABASE
      DB_PORT: $DB_PORT
      NEO4J_HOST: neo4j
      NEO4J_USER: $NEO4J_USER
      NEO4J_PASSWORD: $NEO4J_PASSWORD
      NEO4J_PORT: $NEO4J_PORT
    networks:
      - backend-service
      - frontend-ui
    depends_on:
      - mysql
      - neo4j
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file: ./.env
    ports:
      - 3000:80
    volumes:
      - './frontend/src/:/webcrawler/frontend/src/'
      - '/webcrawler/frontend/node_modules/'
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - frontend-ui
    depends_on:
      - backend
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    env_file: ./.env
    environment:
      MYSQL_ROOT_PASSWORD: $DB_PASSWORD
      MYSQL_DATABASE: $DB_DATABASE
      TZ: Europe/Prague
    ports:
      - 3307:3306
    volumes:
      - db:/var/lib/mysql
      - ./db_test_data/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend-service
  neo4j:
    image: neo4j:5.7
    restart: unless-stopped
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - neo4j_data:/data
    environment: 
      - NEO4J_dbms_memory_pagecache_size=1G
      - NEO4J_dbms.memory.heap.initial_size=1G
      - NEO4J_dbms_memory_heap_max__size=1G
      - NEO4J_AUTH=neo4j/tazkeheslo
    networks:
      - backend-service
      - frontend-ui
  adminer:
    image: adminer:4.8.1
    restart: unless-stopped
    ports:
      - 8000:8080
    depends_on:
      - mysql
    environment:
      ADMINER_DEFAULT_SERVER: mysql
    networks:
      - backend-service
volumes:
  db:
  neo4j_data:
networks:
  frontend-ui:
  backend-service: